{% extends 'catalog/base.html' %}

{% block content %}
<div class="row text-center">
    {% for object in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object|truncatechars:60 }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ object.price }} ₽</h1>
                {{ object.description|truncatechars:100 }}
                <a type="button" class="btn btn-lg btn-block btn-outline-primary"
                   href="{% url 'catalog:product' object.id %}">Купить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}