{% extends 'catalog/base.html' %}
{% load product_image_filter %}

{% block content %}
    <div class="col-12">
        <div class="row">
            <div class="col-4">
                <div class="card mb-4 box-shadow">
                    <img src="{% mediapath object.image %}">
                </div>
            </div>
            <div class="col-5">
                <div class="card">
                    <div class="card-header text-center">
                        <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <td>Категория:</td>
                                <td>{{ object.category.title }}</td>
                            </tr>
                            <tr>
                                <td>Цена:</td>
                                <td>{{ object.price }} ₽</td>
                            </tr>
                            <tr>
                                <td>Описание:</td>
                                <td>{{ object.description }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Свяжитесь с нами</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="name">Имя</label>
                                <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя"
                                       required>
                            </div>
                            <div class="mb-3">
                                <label for="phone">Телефон</label>
                                <input type="text" name="phone" class="form-control" id="phone"
                                       placeholder="Контактный телефон" required>
                            </div>
                            <div class="mb-3">
                                <label for="message">Сообщение</label>
                                <textarea type="text" name="message" class="form-control" id="message"
                                          placeholder="Сообщение" required></textarea>
                            </div>
                            <input type="submit" class="btn btn-lg btn-block btn-outline-primary" value="Отправить">
                        </form>
                    </div>
                </div>
                <span class="text-muted">Автор: {{ object.owner|default:"Нет автора" }}</span>
                <p></p>
                {% if user.is_authenticated %}
                    <a class="btn btn-outline-primary" href="{% url 'catalog:update_product' object.pk %}">Редактировать</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}